.slider
	.slider-sliders
		.slider-sliders__content
			.slider-sliders__content-left
				img(src="./images/gen.png" title="Gena")
			.slider-sliders__content-right
				h2 a catchy title
				span It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				a(href="#") read more>>
	.slider-toolbar