doctype html
html
	head
		link(rel="stylesheet" href="styles/main.min.css")
		script(src="https://code.jquery.com/jquery-3.3.1.js")
		script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		script(src="js/slider.js")



	body
		.container-toolbar
			.container-content
				header
					include src/toolbar/index.pug
		.container-header
			.container-content
					include src/header/index.pug
		.container-slides
			.container-content
				include src/slider/index.pug
		.container-services
			.container-content
				include src/services/index.pug
		.container-shout
			.container-content
				include src/shout/index.pug

		.container-footer
			.container-content
				footer
					include src/footer/index.pug
