.latestWork
	margin-top: 44px;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(4,225px);
	grid-column-gap: 20px;
	text-align: left;
	&__block
		
		&-title
			color: grey;
		&-img
			width: 225px;
			height: 140px;
			background-color: grey;
		&-text
			margin-top: 20px;
			color: lightGrayText;
			line-height: 20px;
			font-size: 10px;
			
		&-readMore
			margin: 20px 0 40px 0;
			a
				color: grey;
				font-size: 10px;
			