.header
	.header-content
		.header-content__logo
			img(src="./images/logo.png")
		.header-content__nav
			ul
				li
					a(href="#") homepage
				li
					a(href="#") style demo
				li
					a(href="#") full width
				li
					a(href="#") portfolio
				li
					a(href="#") gallery
				li
					a(href="#") dropdown
