*
	a
		text-decoration: none;
		
html,body
	margin: 0;
	padding: 0;

	
@import "src/variable.styl";
@import "src/main.styl";

body
	
.container
	width: 100%;
	&-toolbar, &-header, &-services, &-slides ,&-shout, &-latest, &-footer
		width: 100%;
		display: flex;
		justify-content: center;
		// align-items: center;
	&-toolbar
		background-color: fiolet;
	&-content
		max-width: 1000px;
		width: 100%;
		padding: 0 10px;
	&-header
		background-color: white;
		height: 130px;
	&-slides
		background-color: lightGray;
	
	&-footer
		margin-top: 40px;
		background-color: lightBlackText;
		
	
	
