*
	a
		text-decoration: none;
		
html,body
	margin: 0;
	padding: 0;

	
@import "src/variable.styl";
@import "src/main.styl";

body
	
.container
	// max-width: 1000px;
	width: 100%;
	&-header
		width: 100%;
		background-color: fiolet;
		display: flex;
		justify-content: center;
		// align-items: center;
	&-content
		max-width: 1000px;
		width: 100%;
		padding: 0 10px;
	
