.footer
	.footerLeft
		.footerLeft__block
			span.title Latest From Blog
			.footerLeft__block-title
				span Post Title
				span Friday, 6th April 2000

			.footerLeft__block-text
				span It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
		.footerLeft__block
			span.title Link Block
			ul
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
	.footerRight
		.footerRight__block
			span.title Company Details
			ul
				li  Company Name
				li  Street Name & Number
				li  Line Two
				li  Town
				li  Postcode
			.footerRight__block-text
				span Tel: xxxxx xxxxxxxxxx
				span Fax: xxxxx xxxxxxxxxx
				span Email: 
				span.email contact@mydomain.com
		.footerRight__block
			span.title Newsletter
			form(action="#" method="post")
				input(type="text" name="name" placeholder="Name")
				input(type="text" name="email" placeholder="Email")
				button(type="submit") submit
			.footerRight__block-soc
				a(href="#")
					img(src="./images/facebook-logo.png")
				a(href="#")
					img(src="./images/linkedin-logo.png")
				a(href="#")
					img(src="./images/twitter-letter-logo.png")
				a(href="#")
					img(src="./images/twitter-logo.png")
				a(href="#")
					img(src="./images/whatsapp-logo.png")
