.footer
	.footerLeft
		.footerLeft__block
			span.title Latest From Blog
			.footerLeft__block-title
				span Post Title
				span Friday, 6th April 2000

			.footerLeft__block-text
				span It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
		.footerLeft__block
			span.title Link Block
			ul
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
				li 
					a(href="#") Lorem Ipsum
	.footerRight