header
	width: 100%;

.toolbar-top__line
	height: 30px;
	width: 100%;
	background-color: #55415f;
	display: flex;
	justify-content: flex-end;
	aligin-items: center;
	
	&-content
		margin: auto 0;
		// height: 20px;
		a
			display: inline-block;
			// border-right: 1px solid white;
			padding: 0px 3px;
			color: white;
			height: 100%;
			font-size: 11px;
			&:not(:first-of-type)
				border-left: 1px solid white;
				
